common_permissions: &permissions
  permissions:
    - level: CAN_VIEW
      group_name: users

resources:
  jobs:
    model_training_job:
      name: ${bundle.target}-{{ .input_project_name }}-model-training-job
      tasks:
        - task_key: Train
          environment_key: default
          {{ if (eq .input_include_feature_store `no`) }}notebook_task:
            notebook_path: ../training/Train.py
            base_parameters:
              env: ${bundle.target}
              # TODO: Update training_data_path
              training_data_path: /databricks-datasets/nyctaxi-with-zipcodes/subsampled
              experiment_name: ${var.experiment_name}
              model_name: ${var.catalog_name}.{{ .input_schema_name }}.${var.model_name}
              # git source information of current ML resource deployment. It will be persisted as part of the workflow run
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}
          {{ else if (eq .input_include_feature_store `yes`) }}notebook_task:
            notebook_path: ../training/TrainWithFeatureStore.py
            base_parameters:
              env: ${bundle.target}
              # TODO: Update training_data_path
              training_data_path: /databricks-datasets/nyctaxi-with-zipcodes/subsampled
              experiment_name: ${var.experiment_name}
              model_name: ${var.catalog_name}.{{ .input_schema_name }}.${var.model_name}
              pickup_features_table: ${var.catalog_name}.{{ .input_schema_name }}.trip_pickup_features
              dropoff_features_table: ${var.catalog_name}.{{ .input_schema_name }}.trip_dropoff_features
              # git source information of current ML resource deployment. It will be persisted as part of the workflow run
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}
          {{ end }}
        - task_key: ModelValidation
          environment_key: default
          depends_on:
            - task_key: Train
          notebook_task:
            notebook_path: ../validation/ModelValidation.py
            base_parameters:
              experiment_name: ${var.experiment_name}
              # The `run_mode` defines whether model validation is enabled or not.
              # It can be one of the three values:
              # `disabled` : Do not run the model validation notebook.
              # `dry_run`  : Run the model validation notebook. Ignore failed model validation rules and proceed to move
              #               model to Production stage.
              # `enabled`  : Run the model validation notebook. Move model to Production stage only if all model validation
              #               rules are passing.
              # TODO: update run_mode
              run_mode: dry_run
              # Whether to load the current registered "Production" stage model as baseline.
              # Baseline model is a requirement for relative change and absolute change validation thresholds.
              # TODO: update enable_baseline_comparison
              enable_baseline_comparison: "false"
              # Please refer to data parameter in mlflow.evaluate documentation https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.evaluate
              # TODO: update validation_input
              validation_input: SELECT * FROM delta.`dbfs:/databricks-datasets/nyctaxi-with-zipcodes/subsampled`
              # A string describing the model type. The model type can be either "regressor" and "classifier".
              # Please refer to model_type parameter in mlflow.evaluate documentation https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.evaluate
              # TODO: update model_type
              model_type: regressor
              # The string name of a column from data that contains evaluation labels.
              # Please refer to targets parameter in mlflow.evaluate documentation https://mlflow.org/docs/latest/python_api/mlflow.html#mlflow.evaluate
              # TODO: targets
              targets: fare_amount
              # git source information of current ML resource deployment. It will be persisted as part of the workflow run
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}
        - task_key: ModelDeployment
          environment_key: default
          depends_on:
            - task_key: ModelValidation
          notebook_task:
            notebook_path: ../deployment/model_deployment/ModelDeployment.py
            base_parameters:
              env: ${bundle.target}
              # git source information of current ML resource deployment. It will be persisted as part of the workflow run
              git_source_info: url:${bundle.git.origin_url}; branch:${bundle.git.branch}; commit:${bundle.git.commit}
      environments:
        - environment_key: default
          spec:
            environment_version: "5"
            dependencies:
              - -r ../requirements.txt
      schedule:
        quartz_cron_expression: "0 0 9 * * ?" # daily at 9am
        timezone_id: UTC
      <<: *permissions
      # If you want to turn on notifications for this job, please uncomment the below code,
      # and provide a list of emails to the on_failure argument.
      #
      #  email_notifications:
      #    on_failure:
      #      - first@company.com
      #      - second@company.com
