# Define lakehouse monitor
# Note: Lakehouse monitring only works for Unity catalog enabled workspaces. Remove this resource if your application
# is running on Non-UC workspaces
resources:
    lakehouse_monitors:
        {{ .input_project_name }}_lakehouse_monitor:
            # TODO: Update the table name to the inference table that already exists
            full_name: ${bundle.target}.{{ .input_project_name }}.predictions
            output_schema_name: ${bundle.target}.{{ .input_project_name }}
            # TODO: Update the below parameters as per your requirements
            assets_dir: /Shared/provider-test/databricks_lakehouse_monitoring/${bundle.target}.{{ .input_project_name }}.predictions
            inference_log:
                granularities: [1 day]
                model_id_col: model_id
                prediction_col: predictions
                label_col: labels
                problem_type: PROBLEM_TYPE_REGRESSION
                timestamp_col: timestamp
            schedule:
                quartz_cron_expression: 0 0 8 * * ? # Run Every day at 8am
                timezone_id: UTC
