# Vector Search

To enable vector search as part of a scheduled Databricks workflow, please:
- Update all the TODOs in the [vector search resource file](../resources/vector-search-resource.yml).
- Uncomment the vector search workflow from the main Databricks Asset Bundles file [databricks.yml](../databricks.yml).

For more details, refer to [{{template `project_name_alphanumeric_underscore` .}}/resources/README.md](../resources/README.md). 

This workflow supports the building of a vector index given a source table.