# Feature Engineering
To set up the feature engineering job via scheduled Databricks workflow, please refer to [{{template `project_name_alphanumeric_underscore` .}}/resources/README.md](../resources/README.md)

For additional details on using the feature store, please refer to [{{template `project_name_alphanumeric_underscore` .}}/docs/ml-developer-guide-fs.md](../../docs/ml-developer-guide-fs.md).