.DS_Store
.vscode
.venv

# local bundle files
**/.databricks/*

mlops-stacks-using-bundle.iml
mlops-stacks-using-bundle.ipr
mlops-stacks-using-bundle.iws
*.hcl
.idea/
.vscode/
__pycache__/
.cache
*.pyc
mlops-stack.iml
