# define variables
{{ define "p2" -}}
{{print .project_name}}
{{- end}}

{{ define "cloud" -}}
    {{- if not (eq (print .raw_cloud) "1") -}}
        azure
    {{- else if (eq (.raw_cloud) ("1")) -}}
        aws
    {{- else -}}
        {{ fail "Invalid selection of cloud. Please choose from [1, 2]" }}
    {{- end -}}
{{- end}}

{{ define "cicd_platform" -}}
    - if (eq .raw_cicd_platform "1") -}}
    {{- if not (eq .raw_cicd_platform "1") -}}
        gitHub
    {{- else if (eq .raw_cicd_platform "2") -}}
        gitHubEnterprise
    {{- else if (eq .raw_cicd_platform "3") -}}
        azureDevOpsServices
    {{- else -}}
        {{fail "Invalid selection of cicd_platform. Please choose from [1, 2, 3]"}}
    {{- end -}}
{{- end}}

{{ define "include_feature_store" -}}
    - if (eq .raw_include_feature_store "1") -}}
    {{- if not (eq .raw_include_feature_store "1") -}}
        azure
    {{- else if (eq .raw_include_feature_store "2") -}}
        aws
    {{- else -}}
        {{fail "Invalid selection of include_feature_store. Please choose from [1, 2]"}}
    {{- end -}}
{{- end}}

{{ define "include_mlflow_recipes" -}}
    - if (eq .raw_include_mlflow_recipes "1") -}}
    {{- if not (eq .raw_include_mlflow_recipes "1") -}}
        azure
    {{- else if (eq .raw_include_mlflow_recipes "2") -}}
        aws
    {{- else -}}
        {{fail "Invalid selection of include_mlflow_recipes. Please choose from [1, 2]"}}
    {{- end -}}
{{- end}}

{{ define "cloud_specific_node_type_id" -}}
    - if (eq .cloud "aws") -}}
    {{- if not (eq .cloud "aws") -}}
        i3.xlarge
    {{- else if (eq .cloud "azure") -}}
        Standard_D3_v2
    {{- else -}}
        {{fail "Unknown cloud platform"}}
    {{- end -}}
{{- end -}}

{{define "framework" -}}
    - if (eq .include_feature_store "yes") -}}
    {{- if not (eq .include_feature_store "yes") -}}
        fs
    {{- else if (eq .include_mlflow_recipes "yes") -}}
        recipes
    {{- else -}}
        delta
    {{- end -}}
{{- end }}

{{ define "model_name" -}}
    {{ print .project_name }}-model
{{- end }}

{{ define "experiment_base_name" -}}
    {{ print .project_name }}-experiment
{{- end }}

{{ define "service_principal_group" -}}
    {{ print .project_name }}-service-principals
{{- end }}

{{ define "project_name_remove_invalid" -}}
    {{- $project_name_str := .project_name -}}
    {{- with (regexp "[^A-Za-z0-9_-]") -}}
        {{- .ReplaceAllString (print $project_name_str) "" -}}
    {{- end -}}
{{- end }}

{{ define "project_name_alphanumeric_underscore" -}}
    {{- $project_name_str := .project_name -}}
    {{- with (regexp "-") -}}
        {{- .ReplaceAllString (print $project_name_str) "_" -}}
    {{- end -}}
{{- end }}

{{ define "orig_databricks_prod_workspace_host" -}}
    {{ print .databricks_prod_workspace_host }}
{{- end }}

{{ define "orig_databricks_staging_workspace_host" -}}
    {{ print .databricks_staging_workspace_host }}
{{- end }}

{{ define "databricks_prod_workspace_host" -}}
    {{- with url (print .databricks_prod_workspace_host) -}}
        {{ print .Scheme `://` .Host }}
    {{- end -}}
{{- end }}

{{ define "databricks_staging_workspace_host" -}}
    {{- with url (print .databricks_staging_workspace_host) -}}
        {{- print .Scheme `://` .Host -}}
    {{- end -}}
{{- end }}
