.DS_Store
__pycache__/
# local bundle files
**/.databricks/*
.idea
.vscode
mlruns
*.db
.dbx
# Exclude local environment directory
venv
# Exclude local distribution/packaging directories
*.egg-info/
build
dist