input_root_dir={{.input_root_dir}}
input_project_name={{.input_project_name}}
input_cloud={{.input_cloud}}
input_cicd_platform={{.input_cicd_platform}}
input_databricks_staging_workspace_host={{.input_databricks_staging_workspace_host}}
input_databricks_prod_workspace_host={{.input_databricks_prod_workspace_host}}
input_default_branch={{.input_default_branch}}
input_release_branch={{.input_release_branch}}
input_read_user_group={{.input_read_user_group}}
input_include_feature_store={{.input_include_feature_store}}
input_include_mlflow_recipes={{.input_include_mlflow_recipes}}
input_include_models_in_unity_catalog={{.input_include_models_in_unity_catalog}}
input_schema_name={{.input_schema_name}}
input_unity_catalog_read_user_group={{.input_unity_catalog_read_user_group}}

root_dir={{ template `root_dir` . }}
project_name={{ template `project_name` . }}
cloud={{ template `cloud` . }}
cicd_platform={{ template `cicd_platform` . }}
orig_databricks_prod_workspace_host={{ template `orig_databricks_prod_workspace_host` . }}
orig_databricks_staging_workspace_host={{ template `orig_databricks_staging_workspace_host` . }}
databricks_prod_workspace_host={{ template `databricks_prod_workspace_host` . }}
databricks_staging_workspace_host={{ template `databricks_staging_workspace_host` . }}
default_branch={{ template `default_branch` . }}
release_branch={{ template `release_branch` . }}
read_user_group={{ template `read_user_group` . }}
include_feature_store={{ template `include_feature_store` . }}
include_mlflow_recipes={{ template `include_mlflow_recipes` . }}
include_models_in_unity_catalog={{ template `include_models_in_unity_catalog` . }}
schema_name={{ template `schema_name` . }}
unity_catalog_read_user_group={{ template `unity_catalog_read_user_group` . }}
cloud_specific_node_type_id={{ template `cloud_specific_node_type_id` . }}
framework={{ template `framework` . }}
model_name={{ template `model_name` . }}
experiment_base_name={{ template `experiment_base_name` . }}
service_principal_group={{ template `service_principal_group` . }}
project_name_alphanumeric_underscore={{ template `project_name_alphanumeric_underscore` . }}
