# This GitHub workflow deploys Bundle resources (ML resource config and more)
# defined under {{template "project_name_alphanumeric_underscore"}}/databricks-resources/*
# and {{template "project_name_alphanumeric_underscore"}}/bundle.yml with prod environment configs,
# when PRs are merged into the release branch
name: Bundle Deployment for {{.project_name}} Prod

on:
  push:
    branches:
      - '{{.release_branch}}'
  workflow_dispatch:

defaults:
  run:
    working-directory: ./{{template "project_name_alphanumeric_underscore"}}

env:
  {% if cookiecutter.cloud == "aws" -%}
  DATABRICKS_TOKEN: {{`${{ secrets.PROD_WORKSPACE_TOKEN }}`}}
  {%- elif cookiecutter.cloud == "azure" -%}
  ARM_TENANT_ID: {{`${{ secrets.PROD_AZURE_SP_TENANT_ID }}`}}
  ARM_CLIENT_ID: {{`${{ secrets.PROD_AZURE_SP_APPLICATION_ID }}`}}
  ARM_CLIENT_SECRET: {{`${{ secrets.PROD_AZURE_SP_CLIENT_SECRET }}`}}
  {%- endif %}

jobs:
  prod:
    concurrency: {{.project_name}}-prod-bundle-job
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: databricks/setup-cli@main
      - name: Validate Bundle For Prod Environment
        id: validate
        run: |
          databricks bundle validate -e prod
      - name: Deploy Bundle to Prod Environment
        id: deploy
        run: |
          databricks bundle deploy -e prod
