# This GitHub workflow sets up CI/CD workflows for a previously instantiated MLOps Stacks Project.
name: Deploy CICD for Project Workflow

on:
  workflow_dispatch:
    inputs:
      project_name:
        description: 'Project Name'
        required: true
        default: {{ .input_project_name }}

env:
  DATABRICKS_HOST: {{template `databricks_staging_workspace_host` .}}
  {{ if (eq .input_cloud `aws`) -}}
  DATABRICKS_TOKEN: {{`${{ secrets.STAGING_WORKSPACE_TOKEN }}`}}
  {{- else if (eq .input_cloud `azure`) -}}
  ARM_TENANT_ID: {{`${{ secrets.STAGING_AZURE_SP_TENANT_ID }}`}}
  ARM_CLIENT_ID: {{`${{ secrets.STAGING_AZURE_SP_APPLICATION_ID }}`}}
  ARM_CLIENT_SECRET: {{`${{ secrets.STAGING_AZURE_SP_CLIENT_SECRET }}`}}
  {{- end }}

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: {{`${{ github.event.pull_request.head.sha || github.sha }}`}}
          token: {{`${{ secrets.WORKFLOW_TOKEN }}`}}
      - uses: databricks/setup-cli@{{template `cli_version` .}}
      - name: Install jq
        run: sudo apt-get install jq
      - name: Unzip Bundle and Append Parameters to Input JSON
        id: unzip
        run: |
          tar -xzvf cicd.tar.gz
          INPUT_CLOUD_1=$(jq -r '.input_cloud' cicd_params.json)
          INPUT_CLOUD_2=$(jq -r '.input_cloud' {{`${{ github.event.inputs.project_name }}`}}/project_params.json)
          if [ "$INPUT_CLOUD_1" != "$INPUT_CLOUD_2" ]; then
            printf "Error: CICD cloud '%s' does not match project cloud '%s'\n" "$INPUT_CLOUD_1" "$INPUT_CLOUD_2"
            exit 1
          fi
          printf '%s' "$(jq '. += {"input_project_name":"{{`${{ github.event.inputs.project_name }}`}}"}' cicd_params.json)" > cicd_params.json
          printf '%s' "$(jq -s '.[0] + .[1]' cicd_params.json {{`${{ github.event.inputs.project_name }}`}}/project_params.json)" > cicd_params.json
      - name: Update databricks.yml
        id: update
        run: |
          echo -e "  staging:\n    workspace:\n      host: {{template `databricks_staging_workspace_host` .}}\n\n  prod:\n    workspace:\n      host: {{template `databricks_prod_workspace_host` .}}\n\n  test:\n    workspace:\n      host: {{template `databricks_staging_workspace_host` .}}" >> {{`${{ github.event.inputs.project_name }}`}}/databricks.yml
      - name: Initialize Bundle
        id: initialize
        run: |
          databricks bundle init ./cicd --config-file "cicd_params.json"
      - name: Commit Changes
        id: commit
        env:
          GITHUB_TOKEN: {{`${{ github.token }}`}}
        run: |
          git config --global user.name "Deploy CICD Bot"
          git config --global user.email "noreply-cicd-bot@databricks.com"
          git checkout -b add-cicd-for-{{`${{ github.event.inputs.project_name }}`}}
          git add .github {{`${{ github.event.inputs.project_name }}`}}/databricks.yml
          git commit -m "Add CICD for {{`${{ github.event.inputs.project_name }}`}}"
          git push origin add-cicd-for-{{`${{ github.event.inputs.project_name }}`}}
      - name: Create Pull Request
        id: pr
        env:
          GITHUB_TOKEN: {{`${{ github.token }}`}}
        run: |
          gh pr create --base {{ .input_default_branch }} --head add-cicd-for-{{`${{ github.event.inputs.project_name }}`}} --title "Deploy CICD for {{`${{ github.event.inputs.project_name }}`}}" --body "This PR was generated by the Deploy CICD workflow."
