# CI/CD Workflow Definitions
This directory contains CI/CD workflow definitions using [GitHub Actions](https://docs.github.com/en/actions),
under ``workflows``. These workflows cover testing and deployment of both ML code (for model training, batch inference, etc) and the 
Databricks ML asset definitions under ``{{template `project_name_alphanumeric_underscore` .}}/assets``. 

To set up CI/CD for a new project,
please refer to [ML asset config - set up CI CD](../../{{template `project_name_alphanumeric_underscore` .}}/assets/README.md#set-up-ci-and-cd).
