# This GitHub workflow deploys Bundle resources (ML resource config and more)
# defined under {{template `project_name_alphanumeric_underscore` .}}/resources/*
# and {{template `project_name_alphanumeric_underscore` .}}/bundle.yml with staging deployment target configs,
# when PRs are merged into the default branch
name: Bundle Deployment for {{template `project_name` .}} Staging

on:
  push:
    branches:
      - '{{template `default_branch` .}}'
  workflow_dispatch:

defaults:
  run:
    working-directory: ./{{template `project_name_alphanumeric_underscore` .}}

env:
  {{ if (eq .input_cloud `aws`) -}}
  DATABRICKS_TOKEN: {{`${{ secrets.STAGING_WORKSPACE_TOKEN }}`}}
  {{- else if (eq .input_cloud `azure`) -}}
  ARM_TENANT_ID: {{`${{ secrets.STAGING_AZURE_SP_TENANT_ID }}`}}
  ARM_CLIENT_ID: {{`${{ secrets.STAGING_AZURE_SP_APPLICATION_ID }}`}}
  ARM_CLIENT_SECRET: {{`${{ secrets.STAGING_AZURE_SP_CLIENT_SECRET }}`}}
  {{- end }}

jobs:
  staging:
    concurrency: {{template `project_name` .}}-staging-bundle-job
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: databricks/setup-cli@main
      - name: Validate Bundle For Staging
        id: validate
        run: |
          databricks bundle validate -t staging
      - name: Deploy Bundle to Staging
        id: deploy
        run: |
          databricks bundle deploy -t staging
