# The name of the bundle. run `databricks bundle schema` to see the full bundle settings schema.
bundle:
  name: {{template `project_name` .}}

variables:
  experiment_name:
    description: Experiment name for the model training.
    default: /Users/${workspace.current_user.userName}/${bundle.target}-{{template `experiment_base_name` .}}
  model_name:
    description: Model name for the model training.
    {{ if (eq .input_include_models_in_unity_catalog `no`) }}default: ${bundle.target}-{{template `model_name` .}}
    {{- else -}}default: {{template `model_name` .}}{{end}}

include:
  # Assets folder contains ML artifact assets for the ml project that defines model and experiment
  # And workflows assets for the ml project including model training -> validation -> deployment,
  # {{- if (eq .input_include_feature_store `yes`) }} feature engineering, {{ end }} batch inference, data monitoring, metric refresh, alerts and triggering retraining
  - ./assets/*.yml

# Deployment Target specific values for workspace
targets:
  dev:
    default: true
    workspace:
      # TODO: add dev workspace URL
      host:

  staging:
    workspace:
      host: {{template `databricks_staging_workspace_host` .}}

  prod:
    workspace:
      host: {{template `databricks_prod_workspace_host` .}}

  test:
    workspace:
      host: {{template `databricks_staging_workspace_host` .}}

