mlflow==3.1.1
numpy>=1.23.0
pandas==1.5.3
scikit-learn>=1.1.1
matplotlib>=3.5.2
pillow>=10.0.1
Jinja2==3.0.3
pyspark~=3.3.0
pytz~=2022.2.1
pytest>=7.1.2
databricks-sdk==0.58.0
beautifulsoup4==4.13.3
transformers==4.41.1
langchain==0.2.1
databricks-vectorsearch==0.56
lxml==5.4.0
