name: Feature and Training Integration Tests for {{cookiecutter.project_name}}
on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    working-directory: ./{{cookiecutter.project_name_alphanumeric_underscore}}/

env:
  DATABRICKS_TOKEN: {% raw %}${{ secrets.STAGING_WORKSPACE_TOKEN }}{% endraw %}

concurrency: {{cookiecutter.project_name}}-feature-training-integration-test-staging

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      # Feature store tests bring up a local Spark session, so Java is required.
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r ../test-requirements.txt
      - name: Run tests with pytest
        run: |
            pytest

  integration_test:
    needs: unit_tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - uses: databricks/setup-bricks@main
      - name: Validate Bundle For Test Environment in Staging Workspace
        id: validate
        run: |
          bricks bundle validate -e test
      - name: Deploy Bundle to Test Environment in Staging Workspace
        id: deploy
        run: |
          bricks bundle deploy -e test
      - name: Run Feature Engineering Workflow for Test Environment in Staging Workspace
        id: feature_engineering
        run: |
          bricks bundle run write_feature_table_job -e test
      - name: Run Training Workflow for Test Environment in Staging Workspace
        id: training
        run: |
          bricks bundle run model_training_job -e test
