# Allow users to read the experiment {{ if (eq .input_include_models_in_unity_catalog `no`) }}and the model{{end}}
common_permissions: &permissions
  permissions:
    - level: CAN_READ
      group_name: users

{{ if (eq .input_include_models_in_unity_catalog `yes`) }}# Allow users to execute models in Unity Catalog
grants: &grants
  grants:
    - privileges:
        - EXECUTE
      principal: {{ .input_unity_catalog_read_user_group }}{{end}}

# Defines model and experiments
resources:
  {{ if (eq .input_include_models_in_unity_catalog `no`) }}models:
    model:
      name: ${var.model_name}
      description: MLflow registered model for the "{{ .input_project_name }}" ML Project for ${bundle.target} deployment target.
      <<: *permissions
      depends_on:
        - resources.jobs.model_training_job.id
        - resources.jobs.batch_inference_job.id
  {{- else -}}
    registered_models:
      model:
        name: ${var.model_name}
        catalog_name: ${bundle.target}
        schema_name: {{ .input_schema_name }}
        comment: Registered model in Unity Catalog for the "{{ .input_project_name }}" ML Project for ${bundle.target} deployment target.
        <<: *grants
        depends_on:
          - resources.jobs.model_training_job.id
          - resources.jobs.batch_inference_job.id{{end}}

  experiments:
    experiment:
      name: ${var.experiment_name}
      <<: *permissions
      description: MLflow Experiment used to track runs for {{ .input_project_name }} project.
