image: {{ .input_docker_image }}

unit-test:
  stage: test
  script:
    - python3 --version
    - pip --version
    - java -version
    - pytest --junitxml=test-unit.xml
  rules:
    - when: on_success # mandatory to ensure this job can be called by parent cicd on merge request

integration-test:
  stage: test
  environment: dev
  #need: unit-test
  variables:
    DATABRICKS_HOST: {{template `databricks_staging_workspace_host` .}}
    DATABRICKS_CLIENT_ID: "${SP_CLIENT_ID}"
    DATABRICKS_CLIENT_SECRET: "${SP_CLIENT_SECRET}"
  script:
    - cd {{template `project_name_alphanumeric_underscore` .}}
    - databricks bundle validate -t {{ .input_test_catalog_name }}
    - databricks bundle deploy -t {{ .input_test_catalog_name }}  
    - databricks bundle run write_feature_table_job -t {{ .input_test_catalog_name }}     
    - databricks bundle run model_training_job -t {{ .input_test_catalog_name }}   
  rules:
    - when: on_success # mandatory to ensure this job can be called by parent cicd on merge request
